sdi3-23.Cli-SOAPcsharp/sdi3-23.Cli-SOAPcsharp/Service References/ServiceReference1/AdminServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.business.sdi.uo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AdminServiceImplService" targetNamespace="http://impl.business.sdi.uo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.business.sdi.uo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="deepDeleteUser" type="tns:deepDeleteUser" />
      <xs:element name="deepDeleteUserResponse" type="tns:deepDeleteUserResponse" />
      <xs:element name="disableUser" type="tns:disableUser" />
      <xs:element name="disableUserResponse" type="tns:disableUserResponse" />
      <xs:element name="enableUser" type="tns:enableUser" />
      <xs:element name="enableUserResponse" type="tns:enableUserResponse" />
      <xs:element name="findAllUsers" type="tns:findAllUsers" />
      <xs:element name="findAllUsersInfo" type="tns:findAllUsersInfo" />
      <xs:element name="findAllUsersInfoResponse" type="tns:findAllUsersInfoResponse" />
      <xs:element name="findAllUsersResponse" type="tns:findAllUsersResponse" />
      <xs:element name="findUserById" type="tns:findUserById" />
      <xs:element name="findUserByIdResponse" type="tns:findUserByIdResponse" />
      <xs:element name="restartDatabase" type="tns:restartDatabase" />
      <xs:element name="restartDatabaseResponse" type="tns:restartDatabaseResponse" />
      <xs:element name="user" type="tns:userDTO" />
      <xs:element name="user_info" type="tns:userInfoDTO" />
      <xs:complexType name="restartDatabase">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="restartDatabaseResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="deepDeleteUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deepDeleteUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsersInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsersInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userInfoDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userInfoDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:userDTO">
            <xs:sequence>
              <xs:element name="num_finished_delayed_tasks" type="xs:long" />
              <xs:element name="num_finished_tasks" type="xs:long" />
              <xs:element name="num_not_planned_tasks" type="xs:long" />
              <xs:element name="num_planned_tasks" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="userDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element name="is_admin" type="xs:boolean" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:userStatusDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="disableUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="disableUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsers">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="enableUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="enableUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findUserById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUserByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="userStatusDTO">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ENABLED" />
          <xs:enumeration value="DISABLED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="BusinessException" type="tns:BusinessException" />
      <xs:complexType name="BusinessException">
        <xs:sequence>
          <xs:element name="claveFicheroMensajes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="restartDatabaseResponse">
    <wsdl:part name="parameters" element="tns:restartDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="enableUser">
    <wsdl:part name="parameters" element="tns:enableUser" />
  </wsdl:message>
  <wsdl:message name="disableUser">
    <wsdl:part name="parameters" element="tns:disableUser" />
  </wsdl:message>
  <wsdl:message name="deepDeleteUserResponse">
    <wsdl:part name="parameters" element="tns:deepDeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="findAllUsersInfoResponse">
    <wsdl:part name="parameters" element="tns:findAllUsersInfoResponse" />
  </wsdl:message>
  <wsdl:message name="findAllUsersResponse">
    <wsdl:part name="parameters" element="tns:findAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="findAllUsersInfo">
    <wsdl:part name="parameters" element="tns:findAllUsersInfo" />
  </wsdl:message>
  <wsdl:message name="disableUserResponse">
    <wsdl:part name="parameters" element="tns:disableUserResponse" />
  </wsdl:message>
  <wsdl:message name="BusinessException">
    <wsdl:part name="BusinessException" element="tns:BusinessException" />
  </wsdl:message>
  <wsdl:message name="findUserById">
    <wsdl:part name="parameters" element="tns:findUserById" />
  </wsdl:message>
  <wsdl:message name="deepDeleteUser">
    <wsdl:part name="parameters" element="tns:deepDeleteUser" />
  </wsdl:message>
  <wsdl:message name="findUserByIdResponse">
    <wsdl:part name="parameters" element="tns:findUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findAllUsers">
    <wsdl:part name="parameters" element="tns:findAllUsers" />
  </wsdl:message>
  <wsdl:message name="enableUserResponse">
    <wsdl:part name="parameters" element="tns:enableUserResponse" />
  </wsdl:message>
  <wsdl:message name="restartDatabase">
    <wsdl:part name="parameters" element="tns:restartDatabase" />
  </wsdl:message>
  <wsdl:portType name="AdminService_SOAP">
    <wsdl:operation name="restartDatabase">
      <wsdl:input name="restartDatabase" message="tns:restartDatabase" />
      <wsdl:output name="restartDatabaseResponse" message="tns:restartDatabaseResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="deepDeleteUser">
      <wsdl:input name="deepDeleteUser" message="tns:deepDeleteUser" />
      <wsdl:output name="deepDeleteUserResponse" message="tns:deepDeleteUserResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="findAllUsersInfo">
      <wsdl:input name="findAllUsersInfo" message="tns:findAllUsersInfo" />
      <wsdl:output name="findAllUsersInfoResponse" message="tns:findAllUsersInfoResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <wsdl:input name="disableUser" message="tns:disableUser" />
      <wsdl:output name="disableUserResponse" message="tns:disableUserResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <wsdl:input name="findAllUsers" message="tns:findAllUsers" />
      <wsdl:output name="findAllUsersResponse" message="tns:findAllUsersResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="enableUser">
      <wsdl:input name="enableUser" message="tns:enableUser" />
      <wsdl:output name="enableUserResponse" message="tns:enableUserResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <wsdl:input name="findUserById" message="tns:findUserById" />
      <wsdl:output name="findUserByIdResponse" message="tns:findUserByIdResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceImplServiceSoapBinding" type="tns:AdminService_SOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deepDeleteUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deepDeleteUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deepDeleteUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="restartDatabase">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="restartDatabase">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="restartDatabaseResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUsersInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAllUsersInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllUsersInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="disableUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="disableUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enableUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="enableUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enableUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAllUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findUserById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUserByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminServiceImplService">
    <wsdl:port name="AdminService_SOAPPort" binding="tns:AdminServiceImplServiceSoapBinding">
      <soap:address location="http://FerTorre:8280/sdi3-23.EJB/AdminService_SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>